<footer class="footer mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    &copy;<span id="year"></span> @DateTime.Now.Year | The Amber Group of Projects
                </div>
            </div>
        </div>
    </div>
</footer>
