@model IEnumerable<VidlyPrototype.Models.Notifications>
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="notifications-display">
    <div class="container notifications-display-inner">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body bg-light">
                        <h4 class="display-4 mb-3 py-3 border-bottom">Notifications</h4>
                        <div>
                            <ul class="list-group border-0">
                                @if (Model.Any())
                                {
                                    foreach (var message in Model)
                                    {
                                        var hasBeenRead = message.HasBeenRead.Value ? "" : "bg-light";

                                        <li class="list-group-item border-0 @hasBeenRead">
                                            <div class="d-flex">
                                                <div class="align-content-start pr-2">
                                                    <i class="far fa-bell"></i>
                                                </div>
                                                <div class="align-content-end">
                                                    @message.Message
                                                    <h6 class="small text-success">
                                                        Sent on @message.DateReceived.ToString("d MMM yyyy 'at' h:mtt")
                                                    </h6>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                }
                                else
                                {
                                    <li>
                                        <p class="h5 text-info">
                                            <i class="fas fa-info-circle"></i> There are no notifications at the moment
                                        </p>
                                    </li>
                                    
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Scripts/NotificationsSender.js"></script>
}

