@model IEnumerable<VidlyPrototype.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="movie-header-section">
    <div class="container movie-header-inner header-inner-spaced">
        <div class="row">
            <div class="col">
                <h3 class="display-4 border-bottom py-2 mb-3">Movies</h3>
                <a href="/Movies/Create" class="btn btn-primary py-2 m-3">
                    <i class="fas fa-plus-circle"></i> Add Movie
                </a>
                @*@if (Model.Any())
                {*@
                    <div class="table-responsive">
                        <table class="table table-bordered" id="movies">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Genre</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var movie in Model)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(@movie.Name, "Edit", "Movies", new { id = movie.Id }, new { @class = "text-capitalize" })</td>
                                        <td class="text-capitalize">@movie.MovieGenres.Name</td>
                                        <td>
                                            <button data-customer-id="@movie.Id" class="btn btn-outline-danger align-content-center js-delete" title="Delete Movie">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }*@
                            </tbody>
                        </table>
                    </div>
                @*}
                else
                {
                    <p class="lead text-center">There are no movies at the moment</p>
                }*@
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movies) {
                            return "<a class='text-capitalize' href='/movies/edit/" + movies.id + "'>" + movies.name + "</a>";
                        }
                    },
                    {
                        data: "movieGenres.name",
                        render: function (data) {
                            return "<span class='text-capitalize'>" + data + "</span>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data){
                            return "<button class='btn btn-outline-danger js-movie-delete' data-movie-id=" + data + " title='Delete Movie'><i class='fas fa-trash'></i></button>";
                        }
                    }

                ]
            });

            $("#movies").on('click', ".js-movie-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();

                            }
                        });
                    }
                });

            });
        });
    </script>

}


